<footer class="footer p-1">
  {% comment %}
  <div class="footer-content">
    <div class="footer-logo">
      <!-- Your logo image or text goes here -->
    </div>

    <div class="footer-links">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <div class="footer-social">
      <!-- Social media icons or links go here -->
    </div>
  </div>
  {% endcomment %}
  <div class="footer-bottom text-center">
    <p>&copy; 2023 Painters. All rights reserved.</p>

    {% comment %}
    <ul class="footer-nav">
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms of Service</a></li>
    </ul>
    {% endcomment %}
  </div>
</footer>
