 body {
     background-image: url("/static/images/BluecolorSplashes.46cc898c300d.svg");
     background-repeat: no-repeat;
     background-size: cover;

 }

 /* .footer {
     position: absolute;
     bottom: 0;
     width: 100%;

    
 } */